{% extends 'base.html' %}
{% block title %} Pokemons{% endblock %}
{% block content %}

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('myInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById("myUL");
            li = ul.getElementsByTagName('li');

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
    <style>
        .li-left {
            float: left;
            display: block;
            margin: 10px 10px 10px 10px;
            padding: 2px;
            /* border: 1px solid; */
        }

        #moj li a {
            margin: 10px;
        }

        #myInput {
            background-image: url('https://www.w3schools.com/css/searchicon.png');
            background-position: 10px 12px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        .moj {
            height: 7000px;
        }
    </style>

    <br>
    <br>

    <div class="main">

        {#    Pokemon details View#}

        {% if query %}

            <a class="btn btn-primary" href="{% url 'pokemon_api' %}">Back to search</a><br>
            <br>
            <strong>Name : </strong> {{ pokemon_name|title }}<br>
            <img src="{{ pokemon_image }}"><br>
            <strong>Abilities:</strong>
            {% for ability in a %}
                {{ ability }},
            {% endfor %}
            <br>
            <strong>Height : </strong>{{ height }}<br>
            <strong>Weight : </strong>{{ weight }}<br>
            <br>
            {% if pokemon_in_data_base %}
                <p>Pokemon already in DB</p>

            {% else %}
                {% if request.user.is_staff %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id">
                        <input class="btn btn-success" type="submit" value="Import to DB">

                    </form>
                {% else %}
                    <p>You don't have permision to import data to DB</p>
                {% endif %}
            {% endif %}

            {#    List Pokemon View#}

        {% else %}
            <div class="moj">
                <form class="form-inline my-2 my-lg-0" action="" method="get">
                    <input class="form-control mr-sm-2" type="search" id="myInput" onkeyup="myFunction()"
                           placeholder="Search for  Pokemon" aria-label="Search" name="q">
                </form>

                <ol id='myUL'>
                    {% for pokemon in pok_req %}

                        <li class="li-left"><a href="?q={{ pokemon.name }}">{{ pokemon.name|title }} </a>
                        </li>

                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </div>
{% endblock content %}